# Audio
pulsectl>=23.5.0
soundfile>=0.12.1
librosa>=0.10.0

# AI/ML
openai-whisper>=20231117
torch>=2.0.0
transformers>=4.30.0

# Translation
googletrans>=4.0.0rc1
deep-translator>=1.11.0

# Utils
numpy>=1.24.0
